<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 이메일 권한 -->
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <!--블루투스 권한-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        android:configChanges="orientation|screenSize">



        <activity
            android:name=".activity.PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BoardActivity"
            android:exported="false" />
        <activity android:name=".activity.MainActivity_search"/>
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity_gallery"
            android:exported="false" />
        <activity
            android:name=".MainActivity_camera"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity_loadc"
            android:exported="false" />
        <activity android:name=".activity.LoginActivity">

        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.Setting_goalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Setting_resetActivity" />
        <activity android:name=".activity.Setting_editActivity" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.techtown.caps.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external" />
        </provider>
    </application>

</manifest>